.tableWrap{
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* ← iPhoneで必須 */
  margin-bottom: 100px;
}
.tableWrap table{
    padding: 0 20px;
    width: 900px;
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
}
.tableWrap table th,
.tableWrap table td{
    border: solid 1px #707070;
    padding: 15px;
}
.tableWrap table th{
    background-color: #fafafa;
    font-weight: 500;
}
.tableWrap table tbody th{
    background-color: #fafafa;
    font-weight: 500;
    text-align: left;
    padding-left: 50px;
}
.tableWrap table tbody td{
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .tableWrap table{
        width: 700px;
    }
    .tableWrap table th,
    .tableWrap table td{
        font-size: 14px;
        padding: 10px;
    }
    .tableWrap table thead th:nth-child(n+2){
        width: 150px;
    }
    .tableWrap table tbody td{
        font-size: 14px;
    }
}