.button{
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 10px 30px;
    position: relative;
}
.button::after{
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 18px;
    right: 18px;
}